<h2>
    请选择一个任务
</h2>
<div class="deail-contents" ng-show="detail.selectedTabIndex === 0">
    <h3>活跃状态</h3>
    <div class="table">
        <table>
            <tbody>
            <tr>
                <th>下载进度</th>
                <td> / </td>
            </tr>
            <tr>
                <th>已上传</th>
                <td> / </td>
            </tr>
            <tr>
                <th>已下载</th>
                <td> / </td>
            </tr>
            <tr>
                <th>状态</th>
                <td> / </td>
            </tr>
            <tr>
                <th>运行时长</th>
                <td> / </td>
            </tr>
            <tr>
                <th>预计还需时长</th>
                <td> / </td>
            </tr>
            <tr>
                <th>上一次活跃</th>
                <td> / </td>
            </tr>
            <tr>
                <th>错误</th>
                <td> / </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h3>明细</h3>
    <div class="table">
        <table>
            <tbody>
            <tr>
                <th>大小</th>
                <td> / </td>
            </tr>
            <tr>
                <th>位置</th>
                <td> / </td>
            </tr>
            <tr>
                <th>哈希</th>
                <td> / </td>
            </tr>
            <tr>
                <th>私有</th>
                <td> / </td>
            </tr>
            <tr>
                <th>源</th>
                <td> / </td>
            </tr>
            <tr>
                <th>备注</th>
                <td> / </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="deail-contents" ng-show="detail.selectedTabIndex === 1"></div>
<div class="deail-contents" ng-show="detail.selectedTabIndex === 2"></div>
<div class="deail-contents" ng-show="detail.selectedTabIndex === 3"></div>