<div id="modal-bg" class="modal-bg" ng-class="{'modal-show':modal.status}"></div>
<div id="modal" class="modal" ng-class="{'modal-show':modal.status,'tip':modal.type === 'tip','waring':modal.type === 'waring','add':modal.type === 'add','size-big':modal.size === 'big','size-small':modal.size === 'small','size-window':modal.size === 'window'}" ng-click="$event.stopPropagation();">
    <div class="title">{{modal.title}}</div>
    <div class="content">
        <!--<span class="icon icon-info-black"></span>-->
        {{modal.content}}
    </div>
    <div class="btn-row" ng-class="{'display-cancel-btn':modal.btnType === 0,'display-submit-btn':modal.btnType === 1,'display-all-btn':modal.btnType === 2}">
        <div class="cancel" ng-if="modal.btnType === 1 || modal.btnType === 2" ng-click="modal.close()">{{modal.btnText.cancel}}</div>
        <div class="submit" ng-if="modal.btnType === 0 || modal.btnType === 2" ng-click="modal.submitFunc()">{{modal.btnText.submit}}</div>
    </div>
</div>