<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Transmission 2.92 AngularJS Version</title>
    <link rel="stylesheet" href="dist/css/transmission.min.css">
    <link rel="apple-touch-icon-precomposed" href="dist/img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes">
</head>
<body ng-controller="mainController" style="touch-action: none;" ng-swipe-left="swip.left()" ng-swipe-right="swip.right()">
<header class="header mobile" ng-class="{'mobile-show':consolePanel.status}">
    <div>
        <span class="logo" ng-click="modal.show($event);">
            <span class="logo-img"></span>
            Transmission
        </span>
            <span class="icon-add">
            <i>添加任务</i>
        </span>
            <span class="icon-delete" ng-class="{'disabled':dataStorage.selectedIndex === ''}" ng-click="removeFromList([dataStorage.torrent[dataStorage.selectedIndex].id])">
            <i>从列表中删除</i>
        </span>
            <span class="icon-start-light" ng-class="{'disabled':dataStorage.selectedIndex === ''}" ng-click="startTransform([dataStorage.torrent[dataStorage.selectedIndex].id])">
            <i>开始</i>
        </span>
            <span class="icon-pause-light" ng-class="{'disabled':dataStorage.selectedIndex === ''}" ng-click="pauseTransform([dataStorage.torrent[dataStorage.selectedIndex].id])">
            <i>暂停</i>
        </span>
            <span class="icon-start-all-light" ng-class="{'disabled':dataStorage.torrent.length === 0}" ng-click="startTransform(dataStorage.ids)">
            <i>开始所有任务</i>
        </span>
            <span class="icon-pause-all-light" ng-class="{'disabled':dataStorage.torrent.length === 0}" ng-click="pauseTransform(dataStorage.ids)">
            <i>暂停所有任务</i>
        </span>
    </div>
</header>
<nav class="nav" ng-class="{'nav-menu':nav.status}">
    <span class="icon-menu" ng-click="nav.toggle()"></span>
    <p>
        <span class="icon-download"> {{dataStorage.totalSpeed.download !== 0 ?bytesConvert(dataStorage.totalSpeed.download):0}}/s </span>
        <span class="icon-upload"> {{dataStorage.totalSpeed.upload !== 0 ?bytesConvert(dataStorage.totalSpeed.upload):0}}/s </span>
    </p>
    <ul>
        <li ng-repeat="item in nav.menudata.name track by $index" ng-click="nav.close($index)">
            <span ng-class="nav.menudata.className[$index]"></span>
            <i>{{item}}</i>
        </li>
    </ul>
</nav>
<ul id="torrent-list" class="torrent-list">
    <li ng-repeat="item in dataStorage.torrent track by $index" ng-class="parsTorrentClassName(item.status,$index)" ng-click="selectTorrent($index)">
        <div class="name">{{item.name}}</div>
        <div class="status" ng-bind-html="parseText.Status($index)"></div>
        <div class="progess-bar">
            <div ng-style="{'width':item.percentDone < 1 ? item.percentDone * 100 + '%':100 + '%'}"></div>
        </div>
        <div class="transform-data" ng-bind-html="parseText.TransformData($index)"></div>
    </li>
</ul>
<section id="torrent-detail" class="torrent-detail" ng-class="{'show':detail.status}">
    <div>
        <span class="icon-close" ng-click="detail.close()"></span>
        <ul>
            <li ng-repeat="item in detail.tabNames track by $index" ng-class="{'selected':detail.selectedTabIndex === $index}" ng-click="detail.tabSelect($index)">
                <span ng-if="$index === 0" class="icon-info-light"></span>
                <span ng-if="$index === 1" class="icon-people"></span>
                <span ng-if="$index === 2" class="icon-server"></span>
                <span ng-if="$index === 3" class="icon-checklist"></span>
            </li>
        </ul>
        <section ng-include src="tmpUrl.blankDetail" ng-if="dataStorage.selectedIndex === ''" include-replace></section>
        <section ng-include src="tmpUrl.detail" ng-if="dataStorage.selectedIndex !== ''" include-replace></section>
    </div>
</section>
<div ng-include src="tmpUrl.modal" class="modal" ng-if="tmpUrl.modal !== ''" include-replace></div>
<script src="libs/requirejs/require.min.js"  data-main="load.js"></script>
</body>
</html>